.pageHeader {
    text-align: center;
}

.list { 
    display:flex ;
    flex-wrap:wrap ;
    justify-content: space-evenly}

    .shop{

         flex-basis: 16%;
         border: 1px dotted rgb(10, 0, 2);
         padding: 1em;
         margin: 0.5em;
         text-align: center;
        
    }